.common__section {
    /*padding: 4rem 0;*/
    margin-bottom: 2rem;
    background-color: var(--background-color);
    text-align: center;
    color: rgba(255, 0, 0, 0.91);
}

/* Pagination styles */
.pagination span {
    /*width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--heading-color);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;*/
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination span:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.active__page {
    background-color: var(--secondary-color);
    color: #fff !important;
}